.login {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    justify-content: space-between;
}

.log_img {
    background-image: url('../../assets/images/img_with_line.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/*  */
.login_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 60px 0 0;
    justify-content: space-between;
}

.web_btn {
    padding: 8px 60px;
    border-radius: var(--border-radius);
    /* background: ; */
    margin-bottom: 4rem;
    color: var(--txt-white);
    background-color: var(--btn-dark);
}

.logo_img {
    /* padding-top: 140px !important; */
}

.logo_img img {
    width: 300px;
    height: 100px;
    margin-top: 80px;
    object-fit: contain;

}