.topnav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--topnav-height);
}

.topnav__search {
    position: relative;
    height: 50px;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 50px;
    overflow: hidden;
}

.topnav__search>input {
    height: 100%;
    width: 100%;
    padding: 10px 60px 10px 50px;
    font-size: 1rem;
    border-radius: 50px;
    border: 0;

    color: var(--txt-color);
    background-color: var(--main-bg);
}

.topnav__search>i {
    font-size: 1.5rem;
    position: absolute;
    left: 20px;
}

.topnav__right {
    display: flex;
    align-items: center;
}

.topnav__right-item~.topnav__right-item {
    margin-left: 30px;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 20px;
}

.notification-item:hover {
    background-color: var(--second-bg);
}

.notification-item>i {
    margin-right: 20px;
    font-size: 1.5rem;
}

.topnav__right-user {
    display: flex;
    align-items: center;
}

.topnav__right-user__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.topnav__right-user__image>img {
    width: 100%;
}

.topnav__right-user__name {
    font-size: 1rem;
    font-weight: 600;
}

.topnav__select select {
    width: 138px;
    color: var(--txt-color);
    padding: 15px;
    outline: none;
    border: 0;
    box-shadow: var(--box-shadow);
    border-radius: 50px;
    background: url('../../assets/images/down.png') no-repeat;
    -webkit-appearance: none;
    background-position-x: 104px;
    background-position-y: 24px;
}


.topnav__select {
    margin-left: 30px !important;
}

.send_notification_btn button {
    padding: 11px 20px;
    border-radius: var(--border-radius);
    background: var(--main-bg-dark);
    border: 0;
    margin-right: 0 !important;
    color: var(--txt-white);
    text-transform: capitalize;
}