@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --main-bg: #ffffff;
    --second-bg: #fafafb;
    --txt-color: #455560;
    --txt-white: #fff;
    --main-color: #349eff;
    --second-color: #62b4ff;
    --btn-dark: #1F1F1F;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --brand-color: #EBCA44;
    --main-bg-light: #1a1a1a;
    --second-bg-light: #fafafb;
    --txt-color-light: #455560;
    --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-dark: #1d1d1d;
    --second-bg-dark: #202020;
    --txt-color-dark: #bbbbbb;
    --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

    --main-color-blue: #349eff;
    --second-color-blue: #62b4ff;

    --main-color-red: #fb0b12;
    --second-color-red: #ff4a6b;

    --main-color-cyan: #10d4d2;
    --second-color-cyan: #2ae9e6;

    --main-color-green: #019707;
    --second-color-green: #4caf50;

    --main-color-orange: #d68102;
    --second-color-orange: #fca11a;

    --sidebar-width: 250px;
    --border-radius: 5px;
    --topnav-height: 110px;
    --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.7px;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: var(--main-color);
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
    color: var(--txt-color);
}

ul {
    list-style-type: none;
}

input {
    /* border: 2px solid transparent; */
    outline: 0;
}

input:focus {
    /* border: 2px solid var(--main-color); */
}

.page-header {
    padding: 20px 0 0 35px;
    text-transform: capitalize;
}

.card {
    padding: 30px;
    margin-bottom: 30px;
    border: none;
    background-color: var(--main-bg);
    /* box-shadow: var(--box-shadow); */
    border-radius: var(--border-radius);
}

.full-height {
    height: 100%;
}

.card.full-height {
    height: calc(100% - 30px);
}

.card__header {
    text-transform: capitalize;
}

.card>div~div {
    margin-top: 30px;
}

.card__footer {
    text-align: center;
    text-transform: capitalize;
}

.light-background {
    background-color: var(--main-bg-light);
    color: #000;
}

.dark-background {
    background-color: var(--main-bg-dark);
    color: #fff;
}

.blue-color {
    background-color: var(--main-color-blue);
    color: #fff;
}

.red-color {
    background-color: var(--main-color-red);
    color: #fff;
}

.cyan-color {
    background-color: var(--main-color-cyan);
    color: #fff;
}

.green-color {
    background-color: var(--main-color-green);
    color: #fff;
}

.orange-color {
    background-color: var(--main-color-orange);
    color: #fff;
}


/* .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    padding: 0 !important;
} */

.btn_padding_none button {
    padding-left: 0 !important;
}

/* users style  */

.add_new_user_btn,
button {
    padding: 11px 20px;
    border-radius: var(--border-radius);
    background: var(--main-bg-dark);
    border: 0;
    margin-right: 30px;
    color: var(--txt-white);
    text-transform: capitalize;
}

.user_view_page {
    border-radius: 20px;
    padding: 20px 20px;
    box-shadow: var(--box-shadow) !important;
}

.user_view_header {
    padding: 10px 0 30px 0;
}

.prefrered_header {
    padding: 30px 10px;
}

.prefrered_cate {
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.upload_btn22 {
    margin: 0 0 10px 0 !important;
    cursor: pointer;
    border: none !important;
    color: #fff;
    border-radius: var(--border-radius);
    padding: 5px 0;
    background: var(--main-bg-dark);
}

.prefrered_cate p {
    padding-top: 10px;
}

.prefrered_cate img {
    border-radius: 20px;
    width: 90%;
    object-fit: cover;
    height: 160px;
}

.view_catergory {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 0;

}

.view_catergory img {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    height: 160px;
}

.user_detail_container {
    align-items: center;
}

.businessImageScroll {
    overflow-x: scroll;
    /* width: 300px; */
    width: 100%;
    padding: 10px;
}

.faq_box {
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    background: #f3f3f3;
    padding: 10px;
    width: 31%;
}

.user_detail_container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.user_detail_container p {
    margin-bottom: 5px;
}

/* business style  */
.business_modal_container {
    text-align: center;
    padding: 30px 10px;

}

.business_modal_container22 {
    min-height: 400px;
    height: auto;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    justify-content: space-between;
}

.business_modal .modal-content {
    border-radius: 15px;
    border: none !important;
}

.business_modal .modal-dialog {
    max-width: 410px;
}

.add_new_business_form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.business_input_field {
    width: 90% !important;
    margin: 0 auto;
    margin-right: 30px;
}

.socialHub_field {
    width: 90% !important;
    margin: 0 auto;
}

.btn_div {
    width: 90% !important;
    margin: 0 auto;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}

.business_btn {
    width: 150px !important;
    margin: 0 !important;
    border: none !important;
    background: var(--main-bg-dark);
}

.business_btn2 {
    width: 150px !important;
    margin: 0 !important;
    color: var(--main-bg-dark) !important;
    border: 1px solid var(--main-bg-dark) !important;
    background: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* categories page  */
.slider_container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.slider_card {
    border-radius: 20px;
    width: 270px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
}

.slider_card img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 170px;
    object-fit: cover;
}

.view_card img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 170px;
    object-fit: cover;
}

.view_card {
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

.sub_cat_scroll {
    padding-bottom: 10px;
}

.sub_cat_scroll::-webkit-scrollbar {
    display: none
}

.slider_content {
    padding: 10px 15px;
    min-height: 130px;
    max-height: 130px;
    overflow: hidden;
    /* box-sizing: content-box; */
}

.slider_content p {
    font-size: 14px;
}

.carousel-indicators {
    display: none !important;
}

.new_pagination li a {
    background-color: var(--main-bg-dark);
    color: var(--txt-white);
    font-weight: 600;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 30px;
    /* background: #fff */
}

.slider_btns {
    background: #fff;
    border-radius: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* line-height: 25px; */
    width: 20px;
}

.slider_btns img {
    width: 13px;
    height: 13px;
    object-fit: contain;
}

.categories_action_btn {
    position: relative;
    cursor: pointer;

}

.categories_action_btn .category_poppu_bnt {
    display: none;
    min-width: 160px;
    /* padding: 5px; */
    border-radius: 4px;
    position: absolute;
    right: 20px;
    padding: 10px;
    top: 0;
    color: var(--main-bg-dark);
    height: max-content;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
    background-color: #fff;
}

.categories_action_btn:hover .category_poppu_bnt {
    display: block;
}

.category_poppu_bnt p,
i {
    font-size: .9rem;

}

.tags_container {
    display: flex;
    margin-bottom: 10px;
}

.tags {
    padding: 2px 10px;
    border-radius: 20px;
    margin: 0 5px 0 0;
    background: rgb(196 213 255 / 20%);
    color: rgb(188 209 255);
}

.tags2 {
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    margin: 0 5px 0 0;
    position: relative;
    margin-right: 20px;
    background: rgb(238, 238, 238);
    color: rgb(145, 145, 145);
}

.create_catergory {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(206, 206, 206);
    cursor: pointer;
}

.create_catergory2 {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
    height: 140px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(206, 206, 206);
    cursor: pointer;
}

.things button {
    padding: 5px 20px !important;
}

.hotel button {
    padding: 5px 20px !important;
}

.delete_icon_img {
    position: absolute;
    z-index: 55;
    right: 0;
    right: 13px;
    top: 1px;
}

.upload_video {
    display: flex;
    justify-content: center;
}

.upload_btn {
    width: 120px !important;
    margin: 0 !important;
    cursor: pointer;
    border: none !important;
    color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 0;
    background: var(--main-bg-dark);
}

.upload_video input {
    display: none;
}

.create_catergory2 img {
    object-fit: contain;
    width: 40px;
}

.create_catergory img {
    object-fit: contain;
    width: 100px;

}

.create_catergory2 input {
    display: none;
}

.create_catergory input {
    display: none;
}

.cat_btn_col {
    padding-top: 11rem;
    width: 100%;
    text-align: center;
}

.cat_btn_col2 {
    padding-top: 3rem;
    width: 100%;
    text-align: center;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    width: 100%;
    border: none !important;
}

.delete_tag {
    position: absolute;
    top: -9px;
    z-index: 22;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 0 1px;
    background-color: rgb(24, 24, 24);
    right: -10px;
}

.switchPanel {

    cursor: pointer;
}

.saved_places {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.saved_places h6 {
    margin: 0 0 0 10px;
    padding: 0;
}

.saved_places p {
    margin: 0 0 0 40px;
    padding: 0;
}

.saved_places img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.box_of_video {
    box-shadow: var(--box-shadow);
    border-radius: 18px;
    min-height: 318px;
    max-height: 318px;
    height: 318px;
}

.btn-pink {
    background: var(--main-bg-dark);
    color: white;
    padding: 10px 38px;
    margin: 0;
}

.crop_div {
    display: flex;
    justify-content: flex-end;
}

.social_hub_artist_img img {
    height: 40px !important;
    width: 40px !important;
    object-fit: cover !important;
    border-radius: 100px !important;
}

.social_card_content {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

.artistImage img {
    width: 100%;
    object-fit: cover;
    max-height: 220px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    height: 220px;
}

.social_card_content img {
    width: 37px;
    height: 37px;
    object-fit: cover;
}


.artist_name {
    margin-bottom: 0;
    padding-left: 2.8rem;
    margin-top: 20px;
    text-transform: capitalize;
    position: absolute;
}

.social_card_content p {
    font-size: 15px;

}

.edit_icon_img {
    position: absolute;
    top: 0;
    right: 0;
}

.add_links_container {
    display: flex;
    padding-left: 10px;
    font-size: 14px;
    color: #6d6d6d;
    justify-content: space-between;
}

.add_link_div {
    padding-left: 10px;
}

.add_link_div p {
    font-size: 13px;
    color: #6d6d6d;
}

.popover_input input {
    border: none;
    padding: 2px 10px;
    border-radius: 5px;
}

.form_row {
    margin-top: 30px;
}

.cente_loader {
    position: absolute;
    top: 50%;
}

.pagination_area {
    margin: 10px auto;
    text-align: center;
}

.pagination_area p {
    font-size: 14px;
}

.pagination_area nav ul li:nth-child(1)>button,
.pagination_area nav ul li:nth-last-child(1)>button {
    border: none !important;
    background: none !important;
    /* background: var(--main-bg-dark); */
}

.pagination_area nav ul li button.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background: var(--main-bg-dark);
    color: #fff;

}