.layout {
    color: var(--txt-color);
}

.layout__content {
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
    /* background-color: #f3f3f3; */
    min-height: 100vh;
}

.layout__content-main {
    padding: 0 30px;
}

.table_container {
    border-radius: 20px;
    box-shadow: var(--box-shadow) !important;
}

.popup_btn {
    display: none;
    width: max-content;
    padding: 5px 15px;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    color: var(--main-bg-dark);
    height: max-content;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
    background-color: #fff;
}

.action_btn {
    position: relative;
    cursor: pointer;
}

.bx-trash,
.bx-block,
.bx-show {
    font-size: 1.2rem;
}

.action_btn .bx-trash,
.action_btn .bx-block,
.action_btn .bx-show {
    font-size: 1.2rem;
}

.action_btn:hover .popup_btn {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.popup_btn:hover .popup_btn {
    display: block;
}