.sidebar {
    min-width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--main-bg-dark);
    box-shadow: var(--box-shadow);
}

.sidebar__logo {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__logo>img {
    object-fit: contain;
    height: 58px;
    width: 220px;
}

.sidebar__item {
    /* color: var(--second-bg-light); */
    padding: 0 20px;
    position: relative;
}

.sidebar__item-inner {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: color 0.3s ease 0s;
}

.sidebar__item-inner>i {
    margin-right: 10px;
    font-size: 1.5rem;
}

.sidebar__item-inner>span {
    text-transform: capitalize;
}

.sidebar__item-inner:hover {
    color: var(--second-bg-light);
}

.sidebar__item.active {
    border-radius: var(--border-radius);
    /* background-image: linear-gradient(to right,
            var(--brand-color),
            var(--brand-color)); */
    color: var(--second-bg-light);
    /* width: 70px; */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}

.active_sidebar {
    border-radius: 8px;
    left: -55px;
    color: var(--brand-color);
    background: var(--brand-color);
    position: absolute;
    padding: 7px 0px;
}