.table-wrapper {
    overflow-y: auto;
    padding-bottom: 30px;
}

table {
    width: 100%;
    min-width: 400px;
    border-spacing: 0;
}

thead {
    background-color: var(--second-bg);
}

tr {
    text-align: left;
}

th,
td {
    text-transform: capitalize;
    padding: 15px 10px;
}

tbody>tr:hover {
    /* background-color: var(--second-bg);
    color: var(--txt-white); */
}

.table__pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.table__pagination-item~.table__pagination-item {
    margin-left: 10px;
}

.table__pagination-item {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.table__pagination-item.active,
.table__pagination-item.active:hover {
    /* background-color: var(--main-bg-dark); */
    background-color: rgba(0, 0, 0, 0.08);
    /* color: var(--txt-white); */
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.23);
    /* border: none !important; */
    /* font-weight: 600; */
    /* font-weight: 600; */
}

.table__pagination-item:hover {
    color: var(--txt-white);
    background-color: var(--main-bg-dark);
}

.name_with_img img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100px;
    object-fit: cover;
}

.status {
    border-radius: 50px;
    padding: 5px 10px;
    color: #9188EE;
    background-color: #9088ee37;
}